<html> 
<body> 
    <h3>Prediction Form</h3> 
  
<div> 
  <form action="/result" method="POST"> 
      <label for="Age">Age</label> 
      <input type="text" id="Age" name="Age"> 
      <br> 
      <label for="Sex">Sex</label> 
      <select id="Sex" name="Sex"> 
        <option value="0">male</option> 
        <option value="1">female</option> 
      </select> 
      <br> 
      <label for="Embarkedx">Embarked</label> 
      <select id="Embarked" name="Embarked"> 
        <option value="0">S</option> 
        <option value="1">C</option> 
      </select>
      

   <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html>
